<div>
    <form action="duties/add" method="post">
      <label for="title">Write the title of the dutie</label>
      <input type="text" name="title" placeholder="title" id="title" />
      <label for="detailing">Introduce the details of the dutie</label>
      <textarea
        name="detailing"
        placeholder="write your next dutie"
        id="detailing"
      ></textarea>
      <div>
          <button>add</button>
      </div>
    </form>
  </div>